.pageHeader {
  margin: auto;
  text-align: center;
  background: linear-gradient(0.25turn, lightgrey, grey);
}

body {
  background-image: url("looseleaf.jpg");
  , body background-repeat: repeat;
  background-size: contain;
}

div {
  margin: 100px;
}

.para {
  display: block;
  width: 760px;
  height: 380px;
  margin: auto;
  border: 5px solid #f46242;
  resize: none;
  background-color: #bc897e;
}

textarea, textarea::-webkit-input-placeholder {
  font-size: 20px;
}

button {
  display: block;
  width: 760px;
  margin: auto;
}