.pageHeader {
  margin: auto;
  text-align: center;
  background: linear-gradient(0.25turn, lightgrey, grey);
}

body {
  background-image: url("images/looseleaf.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.paraCont {
  margin-top: 100px;
}

.para {
  display: block;
  width: 760px;
  height: 380px;
  margin: auto;
  border: 5px solid #f46242;
  resize: none;
  background-color: #bc897e;
}

textarea,
textarea::-webkit-input-placeholder {
  font-size: 20px;
}

button {
  display: block;
}

#numOfSentences {
  display: block;
  text-align: center;
}

#otherInfo {
  display: block;
  border: 5px solid #f46242;
}

.wgCol {
  background-color: #b7a8a5;
  border: 1px solid #ddd;
}

.lgCol {
  background-color: lightgrey;
  border: 1px solid #ddd;
}

p {
  text-align: center;
  margin-top: 10px;
}

button {
  background-color: #e7e7e7;
  border-color: #5c616d;
}

#utilButton {
  border-radius: 100%;
  width:100px;
  height:100px;
}

.eraseBtn {
  text-align: center;
  background-color: #e7e7e7;
  border-color: #5c616d;
}

.eraserPic {
  width: 82px;
  height:82px;
}

.printBtn {
  background-color: #e7e7e7;
  border-color: #5c616d;
}


#utilButtons {
  margin-top: 5px;
  margin-right:auto;
  margin-left: auto;
}
