.pageHeader {
  margin: auto;
  text-align: center;
}

body {
  background-image: url("looseleaf.jpg");
  background-repeat: round;
  background-size: contain;
}

.paraCont {
  margin-top: 100px;
}

.para {
  display: block;
  width: 760px;
  height: 380px;
  margin: auto;
  border: 5px solid #f46242;
  resize: none;
  background-color: #bc897e;
}

textarea,
textarea::-webkit-input-placeholder {
  font-size: 20px;
}

button {
  display: block;
}

#numOfSentences {
  display: block;
  text-align: center;
}

#otherInfo {
  display: block;
  border: 5px solid #f46242;
}

.wgCol {
  background-color: #b7a8a5;
  border: 1px solid #ddd;
}

.lgCol {
  background-color: lightgrey;
  border: 1px solid #ddd;
}

p {
  text-align: center;
  margin-top: 10px;
}

button {
  background-color: #e7e7e7;
  border-color: #5c616d;
}

#utilButton {
  border-radius: 100%;
  width:100px;
  height:100px;
}

.eraseBtn {
  text-align: center;
  background-color: #e7e7e7;
  border-color: #5c616d;
}

.eraserPic {
  width: 82px;
  height:82px;
}

.printBtn {
  background-color: #e7e7e7;
  border-color: #5c616d;
}


#utilButtons {
  margin-top: 5px;
  margin-right:auto;
  margin-left: auto;
}

#text {
  width: 400px;
  height: 200px;
  resize: none;
}

.submitText {
  width:400px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "a";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
  content:"A";
}

.on
{
  display: block;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

#home-div {
  height:inherit;
  font-family: 'Indie Flower', cursive;
  font-size: 20pt;
}

#home-div p:nth-of-type(1) {
  margin-bottom: 0px;
  padding: 20vh 0 10vh;
}

.pageGif {
  border: 2px solid black;
}
